{% extends 'base.html' %}

{% block title %}
Анализатор страниц
{% endblock %}

{% block body %}
        <div class="flashes">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
            {% block content %} {% endblock %}
    </div>
      <main class="flex-grow-1">
        <div class="container-lg mt-3">
            {% for urls in url %}
              <h1>Сайт: {{ urls.name }}</h1>

      <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap" data-test="url">
          <tbody>
            <tr>
              <td>ID</td>
              <td>{{ urls.id }}</td>
            </tr>
            <tr>
              <td>Имя</td>
              <td>{{ urls.name }}</td>
            </tr>
            <tr>
              <td>Дата создания</td>
              <td>{{ urls.created_at }}</td>
            </tr>
          </tbody>
        </table>
      </div>
        <h2 class="mt-5 mb-3">Проверки</h2>
        <form method="post" action="/urls/{{ urls.id }}/checks">
        <input type="submit" class="btn btn-primary" value="Запустить проверку">
        </form>
        {% endfor %}
      <div>
        <table class="table table-bordered table-hover mt-2" data-test="checks">
          <tbody>
          {% for url_check in url_for_check %}
        <tr>
            <th>ID</th>
            <th>Код ответа</th>
            <th>h1</th>
            <th>title</th>
            <th>description</th>
            <th>Дата создания</th>
        </tr>

        <tr>
            <td>{{ url_check.id }}</td>
            <td>{{ url_check.status_code }}</td>
            <td>{{ url_check.h1 }}</td>
            <td>{{ url_check.title }}</td>
            <td>{{ url_check.description }}</td>
            <td>{{ url_check.created_at }}</td>
        </tr>

        <tr>
        </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

        </div>
      </main>
      <footer class="border-top py-3 mt-5 flex-shrink-0">
      <div class="container-lg">
        <div class="text-center">
          <a href="https://ru.hexlet.io/" target="_blank">Hexlet</a>
        </div>
      </div>
    </footer>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    </body>
{% endblock %}